.ais-RefinementList-item .ais-RefinementList-label {
  display: flex;
  font-size: 0.875rem;
  gap: 0.5em;
}

.ais-RefinementList-item .ais-RefinementList-count {
  color: #0005119e;
  flex-grow: 1;
  text-align: right;
}

.switch-root {
  width: 32px;
  height: 20px;
  background-color: #cbd5e1;
  border-radius: 9999px;
  position: relative;
  padding: 0;
}

.switch-root:focus {
  outline-color: #0f766e; /** Teal 700 */
  outline-offset: 2px;
  outline-width: 2px;
}

.switch-root[data-state='checked'] {
  background-color: #0f766e;
}

.switch-thumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.switch-thumb[data-state='checked'] {
  transform: translateX(14px);
}