---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Hero from '../components/Hero.astro';
import client from '../../tina/__generated__/client';
import { TinaMarkdown } from 'tinacms/dist/rich-text';

const projectResponse = await client.request({
  query: `query getAbout($relativePath: String!) {
      about(relativePath: $relativePath) {
        title
        subheader
        description
      }
    }`,
  variables: { relativePath: 'about.mdx' },
});

const { title, subheader, description } = projectResponse.data.about;

---

<Layout title={title}>
  <Hero 
    title={title}
    subheader={subheader}
  />
  <Container className="my-12">
    <h2 class="text-2x">About the Project</h2>
    <p class="py-12 prose max-w-none">
      <TinaMarkdown content={description} />
    </p>
  </Container>
</Layout>
