---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import '@peripleo/maplibre/peripleo-maplibre.css';
import '@peripleo/peripleo/default-theme';
import '@performant-software/core-data/style.css';

export interface Props {
	title: string;
  	tab?: string;
}

const { title, tab } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
  <ViewTransitions />
</head>
<body class='flex h-full flex-col bg-white 3xl:bg-neutral-dark text-neutral-dark 3xl:max-w-screen-3xl mx-auto' transition:animate="initial">
  <Header tab={tab} />
  <main class="w-full min-h-screen bg-white">
	  <slot />
  </main>
</body>
</html>

<style is:global>
	.p6o-map-container {
	height: 100%;
	width: 100%;
	}
</style>
