---
import { ViewTransitions } from 'astro:transitions';
import '../style/demo-styling.css'
import Header from '../components/Header.astro';
import '@peripleo/maplibre/peripleo-maplibre.css';
import '@peripleo/peripleo/default-theme';

export interface Props {
	title: string;
  tab?: string;
}

const { title, tab } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
  <ViewTransitions />
</head>
<body class="flex sm:min-h-screen flex-col min-w-fit bg-gray-300" transition:animate="initial">
  <Header projectName="Project Name" tab={tab} />
	<slot />
</body>
</html>

<style is:global>
	.p6o-map-container {
	height: 100%;
	width: 100%;
	}
</style>